/*
 * Flag of the U.S.A.
 *   By Ildar Sagdejev ( http://specious.github.io )
 *
 * Official flag proportions:
 *   http://www.usflag.org/flagspecs.html
 */
.flag {
  width: 798px;
  height: 420px;
  background-image: -webkit-linear-gradient(#f00 50%, #fff 50%);
  background-image: -moz-linear-gradient(#f00 50%, #fff 50%);
  background-image: -o-linear-gradient(#f00 50%, #fff 50%);
  background-image: -ms-linear-gradient(#f00 50%, #fff 50%);
  background-image: linear-gradient(#f00 50%, #fff 50%);
  -webkit-background-size: 1px 64.61538461538461px;
  -moz-background-size: 1px 64.61538461538461px;
  background-size: 1px 64.61538461538461px;
}
.flag .union {
  width: 319.2px;
  height: 226.15384615384616px;
  background-color: #00008b;
  position: relative;
}
.flag .union .stars {
  width: 299.712px;
  height: 206.66584615384616px;
  margin: 9.744px;
  position: absolute;
  background: -webkit-linear-gradient(121.9deg, #00008b 5.2%, transparent 0) -16.02% 13.8%, -webkit-linear-gradient(58.1deg, #00008b 5.2%, transparent 0) 6.1% 13.8%, -webkit-linear-gradient(159deg, #fff 9.4%, transparent 0) -16.02% 13.8%, -webkit-linear-gradient(21deg, #fff 9.4%, transparent 0) 6.1% 13.8%, -webkit-linear-gradient(234deg, #fff 9.3%, transparent 0) -16.02% 6.8%, -webkit-linear-gradient(306deg, #fff 9.3%, transparent 0) 6.1% 6.8%, -webkit-linear-gradient(121.9deg, #00008b 5.2%, transparent 0) -5.02% 28%, -webkit-linear-gradient(58.1deg, #00008b 5.2%, transparent 0) 17.1% 28%, -webkit-linear-gradient(159deg, #fff 9.4%, transparent 0) -5.02% 28%, -webkit-linear-gradient(21deg, #fff 9.4%, transparent 0) 17.1% 28%, -webkit-linear-gradient(234deg, #fff 9.3%, transparent 0) -5.02% 21%, -webkit-linear-gradient(306deg, #fff 9.3%, transparent 0) 17.1% 21%;
  background: -moz-linear-gradient(121.9deg, #00008b 5.2%, transparent 0) -16.02% 13.8%, -moz-linear-gradient(58.1deg, #00008b 5.2%, transparent 0) 6.1% 13.8%, -moz-linear-gradient(159deg, #fff 9.4%, transparent 0) -16.02% 13.8%, -moz-linear-gradient(21deg, #fff 9.4%, transparent 0) 6.1% 13.8%, -moz-linear-gradient(234deg, #fff 9.3%, transparent 0) -16.02% 6.8%, -moz-linear-gradient(306deg, #fff 9.3%, transparent 0) 6.1% 6.8%, -moz-linear-gradient(121.9deg, #00008b 5.2%, transparent 0) -5.02% 28%, -moz-linear-gradient(58.1deg, #00008b 5.2%, transparent 0) 17.1% 28%, -moz-linear-gradient(159deg, #fff 9.4%, transparent 0) -5.02% 28%, -moz-linear-gradient(21deg, #fff 9.4%, transparent 0) 17.1% 28%, -moz-linear-gradient(234deg, #fff 9.3%, transparent 0) -5.02% 21%, -moz-linear-gradient(306deg, #fff 9.3%, transparent 0) 17.1% 21%;
  background: -o-linear-gradient(121.9deg, #00008b 5.2%, transparent 0) -16.02% 13.8%, -o-linear-gradient(58.1deg, #00008b 5.2%, transparent 0) 6.1% 13.8%, -o-linear-gradient(159deg, #fff 9.4%, transparent 0) -16.02% 13.8%, -o-linear-gradient(21deg, #fff 9.4%, transparent 0) 6.1% 13.8%, -o-linear-gradient(234deg, #fff 9.3%, transparent 0) -16.02% 6.8%, -o-linear-gradient(306deg, #fff 9.3%, transparent 0) 6.1% 6.8%, -o-linear-gradient(121.9deg, #00008b 5.2%, transparent 0) -5.02% 28%, -o-linear-gradient(58.1deg, #00008b 5.2%, transparent 0) 17.1% 28%, -o-linear-gradient(159deg, #fff 9.4%, transparent 0) -5.02% 28%, -o-linear-gradient(21deg, #fff 9.4%, transparent 0) 17.1% 28%, -o-linear-gradient(234deg, #fff 9.3%, transparent 0) -5.02% 21%, -o-linear-gradient(306deg, #fff 9.3%, transparent 0) 17.1% 21%;
  background: -ms-linear-gradient(121.9deg, #00008b 5.2%, transparent 0) -16.02% 13.8%, -ms-linear-gradient(58.1deg, #00008b 5.2%, transparent 0) 6.1% 13.8%, -ms-linear-gradient(159deg, #fff 9.4%, transparent 0) -16.02% 13.8%, -ms-linear-gradient(21deg, #fff 9.4%, transparent 0) 6.1% 13.8%, -ms-linear-gradient(234deg, #fff 9.3%, transparent 0) -16.02% 6.8%, -ms-linear-gradient(306deg, #fff 9.3%, transparent 0) 6.1% 6.8%, -ms-linear-gradient(121.9deg, #00008b 5.2%, transparent 0) -5.02% 28%, -ms-linear-gradient(58.1deg, #00008b 5.2%, transparent 0) 17.1% 28%, -ms-linear-gradient(159deg, #fff 9.4%, transparent 0) -5.02% 28%, -ms-linear-gradient(21deg, #fff 9.4%, transparent 0) 17.1% 28%, -ms-linear-gradient(234deg, #fff 9.3%, transparent 0) -5.02% 21%, -ms-linear-gradient(306deg, #fff 9.3%, transparent 0) 17.1% 21%;
  background: linear-gradient(-31.9deg, #00008b 5.2%, transparent 0) -16.02% 13.8%, linear-gradient(31.9deg, #00008b 5.2%, transparent 0) 6.1% 13.8%, linear-gradient(-69deg, #fff 9.4%, transparent 0) -16.02% 13.8%, linear-gradient(69deg, #fff 9.4%, transparent 0) 6.1% 13.8%, linear-gradient(-144deg, #fff 9.3%, transparent 0) -16.02% 6.8%, linear-gradient(144deg, #fff 9.3%, transparent 0) 6.1% 6.8%, linear-gradient(-31.9deg, #00008b 5.2%, transparent 0) -5.02% 28%, linear-gradient(31.9deg, #00008b 5.2%, transparent 0) 17.1% 28%, linear-gradient(-69deg, #fff 9.4%, transparent 0) -5.02% 28%, linear-gradient(69deg, #fff 9.4%, transparent 0) 17.1% 28%, linear-gradient(-144deg, #fff 9.3%, transparent 0) -5.02% 21%, linear-gradient(144deg, #fff 9.3%, transparent 0) 17.1% 21%;
  -webkit-background-size: 18.181818181818183% 22.22222222222222%;
  -moz-background-size: 18.181818181818183% 22.22222222222222%;
  background-size: 18.181818181818183% 22.22222222222222%;
}
@font-face {
  font-family: Oswald;
  src: url("../fonts/oswald.woff") format('woff'), url("../fonts/oswald.otf") format('opentype');
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  overflow: scroll;
/* Pattern by: Nate Eagle
   *   http://lea.verou.me/css3patterns/#upholstery
   */
  background: -webkit-radial-gradient(#8a0000 4%, #5c0000 9%, rgba(102,0,0,0) 9%) 0 0, -webkit-radial-gradient(#8a0000 4%, #5c0000 8%, rgba(102,0,0,0) 10%) 50px 50px, -webkit-radial-gradient(rgba(153,0,0,0.8) 20%, rgba(102,0,0,0)) 50px 0, -webkit-radial-gradient(rgba(153,0,0,0.8) 20%, rgba(102,0,0,0)) 0 50px, -webkit-radial-gradient(#600 35%, rgba(102,0,0,0) 60%) 50px 0, -webkit-radial-gradient(#600 35%, rgba(102,0,0,0) 60%) 100px 50px, -webkit-radial-gradient(rgba(77,0,0,0.7), rgba(102,0,0,0)) 0 0, -webkit-radial-gradient(rgba(77,0,0,0.7), rgba(102,0,0,0)) 50px 50px, -webkit-linear-gradient(45deg, rgba(102,0,0,0) 49%, #000 50%, rgba(102,0,0,0) 70%) 0 0, -webkit-linear-gradient(135deg, rgba(102,0,0,0) 49%, #000 50%, rgba(102,0,0,0) 70%) 0 0;
  background: -moz-radial-gradient(#8a0000 4%, #5c0000 9%, rgba(102,0,0,0) 9%) 0 0, -moz-radial-gradient(#8a0000 4%, #5c0000 8%, rgba(102,0,0,0) 10%) 50px 50px, -moz-radial-gradient(rgba(153,0,0,0.8) 20%, rgba(102,0,0,0)) 50px 0, -moz-radial-gradient(rgba(153,0,0,0.8) 20%, rgba(102,0,0,0)) 0 50px, -moz-radial-gradient(#600 35%, rgba(102,0,0,0) 60%) 50px 0, -moz-radial-gradient(#600 35%, rgba(102,0,0,0) 60%) 100px 50px, -moz-radial-gradient(rgba(77,0,0,0.7), rgba(102,0,0,0)) 0 0, -moz-radial-gradient(rgba(77,0,0,0.7), rgba(102,0,0,0)) 50px 50px, -moz-linear-gradient(45deg, rgba(102,0,0,0) 49%, #000 50%, rgba(102,0,0,0) 70%) 0 0, -moz-linear-gradient(135deg, rgba(102,0,0,0) 49%, #000 50%, rgba(102,0,0,0) 70%) 0 0;
  background: -o-radial-gradient(#8a0000 4%, #5c0000 9%, rgba(102,0,0,0) 9%) 0 0, -o-radial-gradient(#8a0000 4%, #5c0000 8%, rgba(102,0,0,0) 10%) 50px 50px, -o-radial-gradient(rgba(153,0,0,0.8) 20%, rgba(102,0,0,0)) 50px 0, -o-radial-gradient(rgba(153,0,0,0.8) 20%, rgba(102,0,0,0)) 0 50px, -o-radial-gradient(#600 35%, rgba(102,0,0,0) 60%) 50px 0, -o-radial-gradient(#600 35%, rgba(102,0,0,0) 60%) 100px 50px, -o-radial-gradient(rgba(77,0,0,0.7), rgba(102,0,0,0)) 0 0, -o-radial-gradient(rgba(77,0,0,0.7), rgba(102,0,0,0)) 50px 50px, -o-linear-gradient(45deg, rgba(102,0,0,0) 49%, #000 50%, rgba(102,0,0,0) 70%) 0 0, -o-linear-gradient(135deg, rgba(102,0,0,0) 49%, #000 50%, rgba(102,0,0,0) 70%) 0 0;
  background: -ms-radial-gradient(#8a0000 4%, #5c0000 9%, rgba(102,0,0,0) 9%) 0 0, -ms-radial-gradient(#8a0000 4%, #5c0000 8%, rgba(102,0,0,0) 10%) 50px 50px, -ms-radial-gradient(rgba(153,0,0,0.8) 20%, rgba(102,0,0,0)) 50px 0, -ms-radial-gradient(rgba(153,0,0,0.8) 20%, rgba(102,0,0,0)) 0 50px, -ms-radial-gradient(#600 35%, rgba(102,0,0,0) 60%) 50px 0, -ms-radial-gradient(#600 35%, rgba(102,0,0,0) 60%) 100px 50px, -ms-radial-gradient(rgba(77,0,0,0.7), rgba(102,0,0,0)) 0 0, -ms-radial-gradient(rgba(77,0,0,0.7), rgba(102,0,0,0)) 50px 50px, -ms-linear-gradient(45deg, rgba(102,0,0,0) 49%, #000 50%, rgba(102,0,0,0) 70%) 0 0, -ms-linear-gradient(135deg, rgba(102,0,0,0) 49%, #000 50%, rgba(102,0,0,0) 70%) 0 0;
  background: radial-gradient(#8a0000 4%, #5c0000 9%, rgba(102,0,0,0) 9%) 0 0, radial-gradient(#8a0000 4%, #5c0000 8%, rgba(102,0,0,0) 10%) 50px 50px, radial-gradient(rgba(153,0,0,0.8) 20%, rgba(102,0,0,0)) 50px 0, radial-gradient(rgba(153,0,0,0.8) 20%, rgba(102,0,0,0)) 0 50px, radial-gradient(#600 35%, rgba(102,0,0,0) 60%) 50px 0, radial-gradient(#600 35%, rgba(102,0,0,0) 60%) 100px 50px, radial-gradient(rgba(77,0,0,0.7), rgba(102,0,0,0)) 0 0, radial-gradient(rgba(77,0,0,0.7), rgba(102,0,0,0)) 50px 50px, linear-gradient(45deg, rgba(102,0,0,0) 49%, #000 50%, rgba(102,0,0,0) 70%) 0 0, linear-gradient(-45deg, rgba(102,0,0,0) 49%, #000 50%, rgba(102,0,0,0) 70%) 0 0;
  background-color: #300;
  -webkit-background-size: 100px 100px;
  -moz-background-size: 100px 100px;
  background-size: 100px 100px;
}
h1,
h2,
a {
  font-family: Oswald;
  color: #ccc;
  text-shadow: 1px 1px 2px #000;
  text-align: center;
}
h1 {
  font-size: 34px;
}
h2 {
  font-size: 24px;
}
.flag {
  -webkit-box-shadow: 4px 4px 18px 6px rgba(0,0,0,0.6);
  box-shadow: 4px 4px 18px 6px rgba(0,0,0,0.6);
  margin: 1.2em auto;
}
