@import 'nib/vendor'

/*
 * CSS is Patrotic
 *   By Ildar Sagdejev ( http://twitter.com/tknomad )
 *
 * Official flag proportions:
 *   http://www.usflag.org/flagspecs.html
 */

//
// Parameters
//
h = 420px   // "hoist"
w = h * 1.9 // "fly"

color_star = white
color_union = darkblue
colors_stripes = red, white

//
// Automatic
//
w_union = (h * 0.76)
h_union = (h * 7/13)
margin_union = h * (0.054 - 0.0616/2)

.flag
  width w
  height h
  background-image linear-gradient(colors_stripes[0] 50%, colors_stripes[1] 50%)
  background-size 1px (2 * h / 13)
  .union
    width w_union
    height h_union
    background-color color_union
    position relative
    .stars
      width w_union - 2 * margin_union
      height h_union - 2 * margin_union
      margin margin_union
      position absolute
      tilt_bottom = 30deg
      tilt_side   = 71deg
      tilt_tall   = 144deg
      stop_bottom = 4.382%
      stop_side   = 8.6%
      stop_tall   = 9%
      angles = -(tilt_bottom), tilt_bottom, -(tilt_side), tilt_side, -(tilt_tall), tilt_tall
      stops = stop_bottom, stop_side, stop_tall
      offsets_x = -15.84%, 6.1% // left side, right side
      offsets_y = 13.1%, 6.8%   // point up, point down
      colors = color_star, color_union
      dx = 11px
      dy = 14.2px
      // Inspired by: http://lea.verou.me/css3patterns/#stars
      background \
        linear-gradient(angles[0], colors[1] stops[0], transparent 0) offsets_x[0] offsets_y[0],
        linear-gradient(angles[1], colors[1] stops[0], transparent 0) offsets_x[1] offsets_y[0],
        linear-gradient(angles[2], colors[0] stops[1], transparent 0) offsets_x[0] offsets_y[0],
        linear-gradient(angles[3], colors[0] stops[1], transparent 0) offsets_x[1] offsets_y[0],
        linear-gradient(angles[4], colors[0] stops[2], transparent 0) offsets_x[0] offsets_y[1],
        linear-gradient(angles[5], colors[0] stops[2], transparent 0) offsets_x[1] offsets_y[1],
        linear-gradient(angles[0], colors[1] stops[0], transparent 0) offsets_x[0]+dx offsets_y[0]+dy,
        linear-gradient(angles[1], colors[1] stops[0], transparent 0) offsets_x[1]+dx offsets_y[0]+dy,
        linear-gradient(angles[2], colors[0] stops[1], transparent 0) offsets_x[0]+dx offsets_y[0]+dy,
        linear-gradient(angles[3], colors[0] stops[1], transparent 0) offsets_x[1]+dx offsets_y[0]+dy,
        linear-gradient(angles[4], colors[0] stops[2], transparent 0) offsets_x[0]+dx offsets_y[1]+dy,
        linear-gradient(angles[5], colors[0] stops[2], transparent 0) offsets_x[1]+dx offsets_y[1]+dy
      background-size 18% 22%

//
// Presentation
//

html
  height 100%
body
  height 100%
  background-color #dbdbdb
  margin 0
  display flex
  align-items center
  justify-content center
.flag
  box-shadow 4px 4px 18px 6px rgba(0,0,0,0.6)