/*
 * CSS is Patrotic
 *   By Ildar Sagdejev ( http://twitter.com/tknomad )
 *
 * Official flag proportions:
 *   http://www.usflag.org/flagspecs.html
 */
.flag {
  width: 798px;
  height: 420px;
  background-image: -webkit-linear-gradient(#f00 50%, #fff 50%);
  background-image: -moz-linear-gradient(#f00 50%, #fff 50%);
  background-image: -o-linear-gradient(#f00 50%, #fff 50%);
  background-image: -ms-linear-gradient(#f00 50%, #fff 50%);
  background-image: linear-gradient(#f00 50%, #fff 50%);
  -webkit-background-size: 1px 64.61538461538461px;
  -moz-background-size: 1px 64.61538461538461px;
  background-size: 1px 64.61538461538461px;
}
.flag .union {
  width: 319.2px;
  height: 226.15384615384616px;
  background-color: #00008b;
  position: relative;
}
.flag .union .stars {
  width: 299.712px;
  height: 206.66584615384616px;
  margin: 9.744px;
  position: absolute;
  background: -webkit-linear-gradient(120deg, #00008b 4.382%, transparent 0) -15.84% 13.1%, -webkit-linear-gradient(60deg, #00008b 4.382%, transparent 0) 6.1% 13.1%, -webkit-linear-gradient(161deg, #fff 8.6%, transparent 0) -15.84% 13.1%, -webkit-linear-gradient(19deg, #fff 8.6%, transparent 0) 6.1% 13.1%, -webkit-linear-gradient(234deg, #fff 9%, transparent 0) -15.84% 6.8%, -webkit-linear-gradient(306deg, #fff 9%, transparent 0) 6.1% 6.8%, -webkit-linear-gradient(120deg, #00008b 4.382%, transparent 0) -4.84% 27.299999999999997%, -webkit-linear-gradient(60deg, #00008b 4.382%, transparent 0) 17.1% 27.299999999999997%, -webkit-linear-gradient(161deg, #fff 8.6%, transparent 0) -4.84% 27.299999999999997%, -webkit-linear-gradient(19deg, #fff 8.6%, transparent 0) 17.1% 27.299999999999997%, -webkit-linear-gradient(234deg, #fff 9%, transparent 0) -4.84% 21%, -webkit-linear-gradient(306deg, #fff 9%, transparent 0) 17.1% 21%;
  background: -moz-linear-gradient(120deg, #00008b 4.382%, transparent 0) -15.84% 13.1%, -moz-linear-gradient(60deg, #00008b 4.382%, transparent 0) 6.1% 13.1%, -moz-linear-gradient(161deg, #fff 8.6%, transparent 0) -15.84% 13.1%, -moz-linear-gradient(19deg, #fff 8.6%, transparent 0) 6.1% 13.1%, -moz-linear-gradient(234deg, #fff 9%, transparent 0) -15.84% 6.8%, -moz-linear-gradient(306deg, #fff 9%, transparent 0) 6.1% 6.8%, -moz-linear-gradient(120deg, #00008b 4.382%, transparent 0) -4.84% 27.299999999999997%, -moz-linear-gradient(60deg, #00008b 4.382%, transparent 0) 17.1% 27.299999999999997%, -moz-linear-gradient(161deg, #fff 8.6%, transparent 0) -4.84% 27.299999999999997%, -moz-linear-gradient(19deg, #fff 8.6%, transparent 0) 17.1% 27.299999999999997%, -moz-linear-gradient(234deg, #fff 9%, transparent 0) -4.84% 21%, -moz-linear-gradient(306deg, #fff 9%, transparent 0) 17.1% 21%;
  background: -o-linear-gradient(120deg, #00008b 4.382%, transparent 0) -15.84% 13.1%, -o-linear-gradient(60deg, #00008b 4.382%, transparent 0) 6.1% 13.1%, -o-linear-gradient(161deg, #fff 8.6%, transparent 0) -15.84% 13.1%, -o-linear-gradient(19deg, #fff 8.6%, transparent 0) 6.1% 13.1%, -o-linear-gradient(234deg, #fff 9%, transparent 0) -15.84% 6.8%, -o-linear-gradient(306deg, #fff 9%, transparent 0) 6.1% 6.8%, -o-linear-gradient(120deg, #00008b 4.382%, transparent 0) -4.84% 27.299999999999997%, -o-linear-gradient(60deg, #00008b 4.382%, transparent 0) 17.1% 27.299999999999997%, -o-linear-gradient(161deg, #fff 8.6%, transparent 0) -4.84% 27.299999999999997%, -o-linear-gradient(19deg, #fff 8.6%, transparent 0) 17.1% 27.299999999999997%, -o-linear-gradient(234deg, #fff 9%, transparent 0) -4.84% 21%, -o-linear-gradient(306deg, #fff 9%, transparent 0) 17.1% 21%;
  background: -ms-linear-gradient(120deg, #00008b 4.382%, transparent 0) -15.84% 13.1%, -ms-linear-gradient(60deg, #00008b 4.382%, transparent 0) 6.1% 13.1%, -ms-linear-gradient(161deg, #fff 8.6%, transparent 0) -15.84% 13.1%, -ms-linear-gradient(19deg, #fff 8.6%, transparent 0) 6.1% 13.1%, -ms-linear-gradient(234deg, #fff 9%, transparent 0) -15.84% 6.8%, -ms-linear-gradient(306deg, #fff 9%, transparent 0) 6.1% 6.8%, -ms-linear-gradient(120deg, #00008b 4.382%, transparent 0) -4.84% 27.299999999999997%, -ms-linear-gradient(60deg, #00008b 4.382%, transparent 0) 17.1% 27.299999999999997%, -ms-linear-gradient(161deg, #fff 8.6%, transparent 0) -4.84% 27.299999999999997%, -ms-linear-gradient(19deg, #fff 8.6%, transparent 0) 17.1% 27.299999999999997%, -ms-linear-gradient(234deg, #fff 9%, transparent 0) -4.84% 21%, -ms-linear-gradient(306deg, #fff 9%, transparent 0) 17.1% 21%;
  background: linear-gradient(-30deg, #00008b 4.382%, transparent 0) -15.84% 13.1%, linear-gradient(30deg, #00008b 4.382%, transparent 0) 6.1% 13.1%, linear-gradient(-71deg, #fff 8.6%, transparent 0) -15.84% 13.1%, linear-gradient(71deg, #fff 8.6%, transparent 0) 6.1% 13.1%, linear-gradient(-144deg, #fff 9%, transparent 0) -15.84% 6.8%, linear-gradient(144deg, #fff 9%, transparent 0) 6.1% 6.8%, linear-gradient(-30deg, #00008b 4.382%, transparent 0) -4.84% 27.299999999999997%, linear-gradient(30deg, #00008b 4.382%, transparent 0) 17.1% 27.299999999999997%, linear-gradient(-71deg, #fff 8.6%, transparent 0) -4.84% 27.299999999999997%, linear-gradient(71deg, #fff 8.6%, transparent 0) 17.1% 27.299999999999997%, linear-gradient(-144deg, #fff 9%, transparent 0) -4.84% 21%, linear-gradient(144deg, #fff 9%, transparent 0) 17.1% 21%;
  -webkit-background-size: 18.181818181818183% 22.22222222222222%;
  -moz-background-size: 18.181818181818183% 22.22222222222222%;
  background-size: 18.181818181818183% 22.22222222222222%;
}
@font-face {
  font-family: Oswald;
  src: url("../fonts/oswald.woff") format('woff'), url("../fonts/oswald.otf") format('opentype');
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  background-color: #570000;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  overflow: scroll;
}
.flag {
  -webkit-box-shadow: 4px 4px 18px 6px rgba(0,0,0,0.6);
  box-shadow: 4px 4px 18px 6px rgba(0,0,0,0.6);
  margin: 1.2em auto;
}
a {
  color: #ff0;
  text-decoration: none;
}
.notice {
  font-family: Oswald;
  font-size: 21px;
  color: #ccc;
  text-shadow: 1px 1px 2px #000;
  background-image: -webkit-radial-gradient(ellipse closest-side, rgba(0,0,0,0.33), transparent);
  background-image: -moz-radial-gradient(ellipse closest-side, rgba(0,0,0,0.33), transparent);
  background-image: -o-radial-gradient(ellipse closest-side, rgba(0,0,0,0.33), transparent);
  background-image: -ms-radial-gradient(ellipse closest-side, rgba(0,0,0,0.33), transparent);
  background-image: radial-gradient(ellipse closest-side, rgba(0,0,0,0.33), transparent);
  text-align: center;
  margin: 0 1em;
}
.notice h1 {
  color: #ececec;
  text-transform: uppercase;
  border-bottom: 1px #fff solid;
  display: inline-block;
  margin: 0;
}
.notice p {
  margin: 0.5em auto;
}
.notice p a:hover {
  color: #ff4700;
}
.notice .link {
  text-shadow: none;
  display: block;
}