doctype html
html(lang='en')
  // By Ildar Sagdejev ( http://twitter.com/tknomad ) 
  head
    meta(charset='UTF-8')
    title CSS is patriotic
    link(rel='stylesheet', href='css/flag-usa.css')
  body
    .flag
      .union
        .stars
    .notice
      h1
        | Notice
      p
        | Governments throughout history have played a major role in the 
        a(href="http://en.wikipedia.org/wiki/Genocides_in_history") unnecessary deaths
        |  of many millions of people. Please consider the merits of no longer supporting the existence of a centralized government structure where you live.  This flag is displayed for demonstration purposes only.
      a.link(href="https://www.google.com/search?q=voluntaryism")
        img(src="gfx/v.svg", title="Google: Voluntaryism")