doctype html
html(lang='en')
  // By Ildar Sagdejev ( http://specious.github.io ) 
  head
    meta(charset='UTF-8')
    title CSS is patriotic
    link(rel='stylesheet', href='css/flag-usa.css')
  body
    h1
      | Flag of the United States
    h2
      | A pure CSS experiment
    .flag
      .union
        .stars
    h2
      a(href="https://github.com/specious/css-flag-of-america") https://github.com/specious/css-flag-of-america