doctype html
html(lang='en')
  // By Ildar Sagdejev ( http://twitter.com/tknomad ) 
  head
    meta(charset='UTF-8')
    title CSS is patriotic
    link(rel='stylesheet', href='css/flag-usa.css')
  body
    .flag
      .union
        .stars